.attendance {
    background-color: #DCDCDC;
    padding: 30px;
    text-align: center;
}

.attendance__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

li {
    list-style: none;
    margin: 10px;
}

.attendance-header {
    display: flex;
    justify-content: center;
}

.attendance-table table {
    margin: 0 auto;
}

.attendance-paging {
    display: flex;
    justify-content: center;
}

.paging-list {
    display: flex;
    justify-content: center;
}