.login-form__content {
    background-color: #DCDCDC;
    padding: 30px;
    text-align: center;
}

.login-form__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.login-form__heading {
    padding: 10px;
    font-weight: bold;
    font-size: 24px;
}

.form__group--text input {
    padding: 10px;
    margin: 15px;
    height: 50px;
    width: 300px;
    border: 1px solid #808080;
    border-radius: 3px;
}

.form__button button {
    margin: 15px;
    width: 300px;
    background-color: blue;
    color: #fff;
    height: 50px;
    border: 1px solid;
    border-radius: 3px;
}

.entry__guide {
    color: #808080;
    font-size: 15px;
}

.entry__guide--link {
    text-decoration: none;
    color: blue;
}